.square {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.board-row {
    display: flex;
  }

.game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keyboard {
    margin-top: 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.key-row {
    margin: 0.2em 0;
}

.key-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
  }