
.square {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: bold;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}


.board-row {
display: flex;
}

.title{
    font-family:'OCR A Std', monospace;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    margin-bottom: 2rem;
}
.game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keyboard {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.key-row {
    margin: 0.2rem 0;
}

.key-button {
    height: 3.2rem;
    width: 4.3rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid gray;

  }

.gameOverScreenMain, .completionScreenMain{
    width: 40vw;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 2em;
    background-color: #c5c9c9;
    opacity: 0.8;
    font-size: 2em;
    padding: 3.5em 0;
    line-height: 1.6em;
}


.game {
    text-align: center;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    color: rgb(0, 0, 0);
  }
  
  /* animations */
@keyframes flip{
    0%{
        transform: rotateX(0);
    }
    45%{
        transform: rotateX(90deg);
    }
    55%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0);
    }
}
